html,body{
	height: 100%;
	position: relative;
	width: 100%;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
    color: #202226;
}
/* temp setting */
.fixed-top{position:none;}
/* Gloabal setting */
a:hover { text-decoration: none }

.xt-table{
    height: 100%;
    width: 100%;
    display: table;
}
.xt-tablecell{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

/* Global setting end */

.hero-bg{background-image: url(../img/bg-1.jpg);}

/*=======================
 Nav area
 ================ */


.xt-nav-brand {
    font-size: 25px; 
    /*font size should be equal to line height*/
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: 3px solid #2ecc71;
    border-top: 3px solid #2ecc71;
}
.xt-nav-brand span{
    color: #2ecc71;
    font-weight: 800;
    padding-right: 5px;
}
.xt-nav-brand:hover{
    text-decoration: none;
    color: #fff;
}

.xt-nav-bg {
    box-shadow: 0px 1px 5px #fff;
}

.xt-nav-bg li a {
    color: #fff;
    font-size: 18px;
    margin: 0 5px;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}

#navbarResponsive a.active, .xt-nav-bg li:hover a{
    border-bottom: 3px solid #2ecc71;
}
/*=======================
 Nav area end
 ================ */


/*==================
Home page hero area 
======================*/
.home-page-hero-area{
    height: 100%;
    width: 100%;
}
.hero-bg{
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
}

.hero-bg:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: #000;
    opacity: 0.7;
    z-index:-1;
}

.home-page-hero-area h1 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.home-page-hero-area p {
    color: #fff;
    font-size: 20px;
    margin: 20px 0 0;
}

.sell-btn {
    display: inline-block;
    font-size: 22px;
    background: #2ecc71;
    border-radius: 35px;
    padding: 15px 30px;
    text-transform: capitalize;
    margin-top: 30px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}
.sell-btn:hover {
    color: #2ecc71;
    background: #fff;
}
.sell-btn i.fa {
    font-size: 20px;
    transition: 0.3s;
}

.sell-btn:hover i.fa {
    padding-left: 8px;
}
/*==================
Home page hero area end
======================*/

/* ===========
Process area start
================ */

.section-padding {
    padding: 70px 0;
}

.process-header h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 13px;
}

.process-header h2:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 5px;
    content: '';
    background: #2ecc71;
    margin-left: -50px;
}

.single-process-item i.fa {
    font-size: 60px;
    /* text-align: center; */
    color: #2ecc71;
    margin-bottom: 20px;
}

.single-process-item h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 15px 0;
}

.single-process-item p {
    color: #7f8c8d;
}

.single-process-item {
    padding: 25px;
}


/* ===========
Process area end
================ */